<div class="container mt-5">
  <div class="headline-large">TEAM</div>
  <div class="row my-4 p-2">
    <% if @teams.blank? %>
      <p>何もない</p>
      <%= link_to "新規登録", new_team_path, class:"" %>
    <% else %>
      <% @teams.each do |team| %>
        <div class="col-12 col-md-4">
          <%= link_to team_path(team), class:"card mb-4 text-decoration-none border-0 " do %>
            <% if team.image.attached? %>
               <div class="card-img-top rounded-3 team-img" style="background-image: url('<%=  rails_blob_path(team.image) %>')"></div>
            <% else %>
              <div class="card-img-top rounded-3 team-img" style="background-image: url('images/no_image.gif')"></div>
            <% end %>
            <div class="card-body">
              <p class="card-text fw-bold fs-5"><%= team.name %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if current_user&.admin? %>
        <%= link_to "新規登録", new_admin_team_path, class:"btn btn-primary" %>
      <% end %>
      <div class="m-3 d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</div>