<div class="container my-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-12">
      <div>
        <% breadcrumb :team, @team %>
      </div>
      <div class="card mb-3 border-0">
        <div class="row g-0">
          <div class="col-md-5">
            <% if @team.image.attached? %>
              <div class="rounded-3 team-img h-100" style="background-image: url('<%=  rails_blob_path(@team.image) %>')"></div>
            <% end %>
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="card-title">
                <div>Name</div>
                <div class="text-name"><%= @team.name%></div>
              </div>
              <div class="card-text border-top pt-3 mt-3">
                <div class="mb-2">
                  <%= Team.human_attribute_name(:about) %>
                </div>
                <%= @team.about %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="headline-large mt-4">division</p>
      <div class="row mt-4">
        <% if @team.divisions.present? %>
          <% @team.divisions.each do |division| %>
            <div class="col-6 col-md-3">
              <%= link_to division_path(division), class:"card mb-4 text-decoration-none border-0 " do %>
                <% render partial: "shared/divisions", locals: {division: division} %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if current_user&.admin? %>
          <%= link_to "削除", admin_team_path, method: :delete %>
          <%= link_to "編集", edit_admin_team_path %>
          <%= link_to "部門新規登録", new_admin_team_division_path(@team) %>
        <% end %>
      </div>
    </div>
  </div>
</div>