<div class="container p-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-12">
      <%binding.pry%>
      <%= form_with model: [team, division], local: true do |f| %>
        <%= render 'shared/error_messages', object: division%>
          <div class="mb-3">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, class:"form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :description %>
            <%= f.text_area :description, class:"form-control" %>
          </div>

          <div class="mb-3">
            <%= f.file_field :image, class:"form-control"%>
          </div>
          
          <div class="mb-3">
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :title,include_hidden: false) do |b| %>
              <%= b.label { b.check_box + b.text } %>
            <% end %>
          </div>

          <div class="actions">
            <%= f.submit class:"btn btn-primary my-2" %>
          </div>
      <% end %>
    </div>
  </div>
</div>