<h1>Divisions#show</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-12">
      <% if @division.image.attached? %>
        <%= image_tag url_for(@division.image) %>
      <% end %>
      <div>
        <%= Division.human_attribute_name(:name) %>
        <%= @division.name%>
      </div>
        <%= Division.human_attribute_name(:description) %>
        <%= @division.description %>
      </div>
      <div>
        <%= link_to "削除", division_path, method: :delete %>
        <%= link_to "編集", edit_division_path %>
        <%= link_to "メンバー新規登録", new_division_member_path(@division) %>
        <% if @division.members.present? %>
          <% @division.members.each do |member| %>
            <%= link_to "#{member.name}", member_path(member) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>