<h3 class="headline-large mt-4">タグ：<%= @tag.title %>関連</h3>
<div class="container my-5">
  <div class="col-sm-8 offset-sm-2 col-12">
    <p class="headline-large mt-4">division</p>
    <div class="row mt-4">
      <% if @divisions.present? %>
        <% @divisions.each do |division| %>
          <div class="col-6 col-md-3">
            <%= link_to division_path(division), class:"card mb-4 text-decoration-none border-0 " do %>
              <% render partial: "shared/divisions", locals: {division: division} %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="m-3 d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@dpagy) %>
      </div>
    </div>
    <p class="headline-large mt-4">MEMBER</p>
    <div class="row mt-4">
      <% if @members.present? %>
        <% @members.each do |member| %>
          <div class="col-6 col-md-3">
            <%= link_to member_path(member), class:"card mb-4 text-decoration-none border-0 " do %>
              <% render partial: "shared/members", locals:{member: member}%>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="m-3 d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@mpagy) %>
      </div>
    </div>
  </div>
</div>