<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-12">
      <h2><%= t('.sign_in') %></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class:"form-control", autocomplete: "email" %>
        </div>

        <div>
          <%= f.label :password %>
          <%= f.password_field :password, class:"form-control", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit t('.sign_in'), class:"form-control btn btn-primary my-2" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>
