<!DOCTYPE html>
<html>
  <head>
    <title>EsportsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>
    <% if user_signed_in?%>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <%= render "shared/flash" %>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <%= breadcrumbs separator: " &rsaquo; " %>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render "shared/footer" %>
  </body>
</html>