<div class="container my-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-12">
      <div>
        <% breadcrumb :member, @member %>
      </div>
      <div class="card mb-3 border-0">
        <div class="row g-0">
          <div class="col-md-4">
            <% if @member.image.attached? %>
              <div class="rounded-3 team-img h-100" style="background-image: url('<%=  rails_blob_path(@member.image) %>')"></div>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="card-title">
                <div>Name</div>
                <div class="text-name"><%= @member.name%></div>
              </div>
              <div class="card-text">　
                <%= link_to @member.url do %>
                  <i class="fab fa-twitter fa-lg text-black"></i>
                <% end %> 
              </div>
              <div class="card-text border-top pt-3 mt-3">
                <div class="mb-2">
                  <%= Member.human_attribute_name(:biography) %>
                </div>
                <%= @member.biography%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

